body,
button,
input,
textarea {
  color: #000;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}
body {
  background-color: #ededed;
  margin: 0;
  font-family: "Asap", sans-serif;
}

img{
    display: block;
    width:100%;
    height: auto;
}

header,
footer {
  background-color: #000;
  height: 100px;
}
.sidebar-right {
  background-color: blue;
  color: white;
}
h1 {
  color: red;
  margin: 0;
}
p {
  margin: 0;
}
@media screen and (min-width: 1120px) {
  .content-area {
    display: flex;
  }
  .sidebar-right {
    flex: 0 0 320px;
  }
}

.site-header {
  height: 400px;
  display: flex;
  flex-flow: column;
}
.site-info {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.site-title {
  margin: 0;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.site-description {
  color: #f6d200;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
}
.main-menu {
  padding: 1em 1em;
  color: #000;
  background: #f6d200;
}
@media screen and (min-width: 1120px) {
  .site-title {
    font-size: 4em;
  }
}

.main-content-area{
    padding:2em;

}
.post{
    background:#fff;
    margin-bottom:1em;
}
.post a{
    color:black;
    text-decoration:none;
}
.post-content{
    padding:0px 40px 20px;
}
.post-content h2{
    background:#f6d200;
    color:#000;
    padding:20px;
    margin:0px -40px 30px;
    text-align: center;
}
@media screen and (min-width:810px){
    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .post{
        flex-basis: 49%;
    }
}

@media screen and (min-width:1120px){
    .post-one-third{
        flex-basis: 32%;
    }
    .post-half{
        flex-basis: 49%;
    }
    .post-full{
        flex-basis: 100%;
    }
}

.section-header{
    color:#000;
    font-size:3em;
    text-align: center;
}
.watch-card{
    margin-bottom:1em;
}
.watch-content{
    background:#000;
    color:#fff;
    padding:3em;
}
.watch-content h2{
    font-size:2em;
    font-weight: 300;
    margin:0;
    text-transform: capitalize;
}

.movie-info{
    font-weight: bold;

}
.movie-info span{
    padding-right:1.5em;
}

p.movie-story{
    margin:1em 0;
}

.watch-content a{
    color:#fff;
    font-weight: bold;
    
}


@media screen and (min-width:810px){
  .watch-card{
    display: flex;
  }
  .watch-content{
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .img-right{
    order:2;
  }
}

.download-card{
  margin-bottom:1em;
}
.download-content{
  background:#fff;
}
.download-content a{
  background:#000;
  color:#fff;
  padding:1em 2em;
  text-decoration:none;
  text-transform: capitalize;
}
.download-content a i{
  font-size:2.5em;
}
.download-info{
  padding:1em 2em;
}

.download-info h4{
  margin:0;
}
.download-info p{
  margin:0;
  font-size: 0.9em;
}
.download-cast img{
  height: 60px;
  width:60px;
  border-radius: 50%;
}

.donwload-rating{
  background:#f6d200;
  padding:1em 2em;
  color:#000;
  font-family: 0.9em;
}

.donwload-rating .rate{
  font-size:2.5em;
  font-weight: bold;
  margin-bottom:0.25em;
}

.download-content{
    display: flex;
    flex-flow:column;
    align-items:stretch;
}
.download-content a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.download-genre,.download-cast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.donwload-rating{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-flow: column;
}

.download-info h4{
    flex-basis: 20%;
}

.download-genre{
    margin-bottom:10px;
}

@media screen and (min-width: 810px){
    .download-content{
        display: flex;
        flex-flow: row;
    }
    .download-content,.donwload-rating{
        flex-grow: 1;
    }
    .download-info{
        flex-grow: 2;
    }
}